{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container" id="container">
        <div class="row">
            <div>
                <h4>Введите первое число</h4>
                <input type="number" class="form-control" id="number_1">
            </div>
            <div>
                <h4>Введите второе число</h4>
                <input type="number" class="form-control" id="number_2">
            </div>
        </div>
        <br>
        <a class="btn btn-success request-type" href="#" data-api-endpoint="{% url 'add' %}" role="button" id="add">Add</a>
        <a class="btn btn-danger request-type" href="#" data-api-endpoint="{% url 'subtract' %}" role="button" id="subtract">Subtract</a>
        <a class="btn btn-warning request-type" href="#" data-api-endpoint="{% url 'multiply' %}" role="button" id="multiply">Multiply</a>
        <a class="btn btn-primary request-type" href="#" data-api-endpoint="{% url 'divide' %}" role="button" id="divide">Divide</a>
        <h4 class="result-class">Result: <span id="result"></span></h4>
    </div>

<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="crossorigin="anonymous"></script>
    

<script>
    $(".request-type").click(function calc() {
        $.ajax({
            url: $(this).data("api-endpoint"),
            method: 'POST',
            headers: {'X-CSRFToken': "{{ csrf_token }}"},
            data: JSON.stringify({
                number_1: $("#number_1").val(), 
                number_2: $("#number_2").val()
            }),
            success: function (response) {
                $("#result").text(response.result);
                $(".result-class").css("background-color", "green")
            },
            error: function (response) {
                $("#result").text(response.responseJSON.error);
                $(".result-class").css("background-color", "red")
            }
        });
    });

</script>



</script>
</body>
</html>